@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
html {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

li {
  list-style: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  max-width: 1920px;
}
.header #menuButton {
  display: none;
}
.header .headerMenu {
  display: flex;
}
.header .headerMenuLink {
  margin: 0px 16px;
  cursor: pointer;
}

.top {
  overflow: hidden;
}
.top .mainVisual {
  display: flex;
  height: 400px;
  width: 100vw;
  margin-top: 110px;
  justify-content: center;
}
.top .mainVisual .mainTitle {
  width: 550px;
  height: 450px;
  background: url("../data/mainTitle.svg") no-repeat;
  background-position: top;
  margin-top: 100px;
  margin-right: 64px;
  margin-left: 32px;
  background-size: contain;
}
.top .mainVisual .mainBoard {
  z-index: 49;
  width: 560px;
  height: 560px;
  margin-right: 32px;
  background: url("../data/boradgameItem.png") no-repeat;
  background-size: contain;
}
.top .illust {
  z-index: -1;
  width: 1 --vw;
  bottom: 285px;
  margin-bottom: -23px;
  margin-top: 125px;
  margin-left: 32px;
  z-index: -3;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top .illust :nth-child(1) {
  height: 90px;
  width: 100px;
  margin-top: -12px;
  background: url(../data/illust1.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.top .illust :nth-child(2) {
  height: 80px;
  width: 100px;
  background: url(../data/illust2.png) no-repeat;
  background-size: contain;
}
.top .illust :nth-child(3) {
  height: 80px;
  width: 100px;
  margin-top: -45px;
  background: url(../data/illust3.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.top .illust :nth-child(4) {
  height: 80px;
  width: 100px;
  margin-top: -25px;
  background: url(../data/illust4.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.top .illust :nth-child(5) {
  height: 80px;
  width: 100px;
  margin-top: -45px;
  background: url(../data/illust5.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.top .illust :nth-child(6) {
  height: 80px;
  width: 100px;
  background: url(../data/illust6.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.top .grass {
  z-index: 2;
}
.top .grass :nth-child(1) {
  height: 50px;
  background-color: #88A63B;
}
.top .grass :nth-child(2) {
  height: 24px;
  background-color: #8C6D49;
}
.top .grass :nth-child(3) {
  height: 100px;
  background-color: #A27A4B;
}
.top .grass :nth-child(4) {
  height: 20px;
  background-color: #8E714E;
}

.about .cardsOne {
  display: flex;
  justify-content: center;
}
.about .cardsOne .cardsOneContents {
  margin-top: 64px;
}
.about .cardsOne .cardsOneContents .pop {
  height: 300px;
  width: 450px;
  background: url("../data/cardpop1.png") no-repeat;
  background-size: contain;
  margin-left: 350px;
}
.about .cardsOne .cardsOneContents .cards {
  height: 650px;
  width: 650px;
  margin-top: -270px;
  background: url("../data/cardgroup.png") no-repeat;
  background-size: contain;
}
.about .cardsOne .cardsStyle {
  width: 25%;
  height: 800px;
}
.about .cardsTwo {
  display: flex;
  justify-content: center;
}
.about .cardsTwo .cardsOneContents {
  margin-top: -150px;
}
.about .cardsTwo .cardsOneContents .pop {
  height: 300px;
  width: 450px;
  margin-left: -80px;
  background: url("../data/cardpop2.png") no-repeat;
  background-size: contain;
}
.about .cardsTwo .cardsOneContents .cards {
  height: 650px;
  width: 650px;
  margin-top: -130px;
  background: url("../data/cardgroup3.png") no-repeat;
  background-size: contain;
}
.about .cardsTwo .cardsStyle {
  width: 25%;
  height: 800px;
}

.play {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #6A4923;
  margin-top: -300px;
  padding-top: 64px;
  padding-bottom: 100px;
  color: white;
}
.play .playTitle {
  z-index: 10;
  color: #6A4923;
  font-size: 32px;
  background-color: white;
  padding: 16px 32px;
  border-radius: 16px;
  font-weight: bold;
}
.play .playVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 80px;
  border-radius: 32px;
  background-color: rgb(235, 235, 235);
}
.play::before {
  content: "";
  position: absolute;
  top: -32px;
  height: 64px;
  width: 100vw;
  border-radius: 80% 80% 0 0;
  background-color: #B98A54;
}
.play::after {
  content: "";
  position: absolute;
  top: 0;
  height: 64px;
  width: 100vw;
  border-radius: 80% 80% 0 0;
  background-color: #6A4923;
}

.playsoil {
  position: absolute;
  z-index: 10;
  height: 64px;
  width: 100vw;
  margin-top: -30px;
  border-radius: 80% 80% 0 0;
  background-color: #B98A54;
}
.playsoil::after {
  content: "";
  position: absolute;
  bottom: -32px;
  z-index: 11;
  height: 64px;
  width: 100vw;
  margin-top: -30px;
  border-radius: 80% 80% 0 0;
  background-color: white;
}

.title {
  font-size: 32px;
  color: #79A912;
  font-weight: bold;
}

.text {
  font-size: 16px;
  color: #2A3038;
  margin-top: 16px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case {
  margin-top: 100px;
}
.case .caseList {
  margin: 64px 64px 0 64px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.case .caseList .caseListContents {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 16px;
  margin: 0 32px 32px 32px;
  background: #EFEEEE;
  width: 320px;
  height: 500px;
}
.case .caseList .caseListContents__image {
  height: 50%;
  width: 100%;
  border-radius: 16px;
  background: url(../data/caseImage.png) no-repeat;
  background-size: cover;
}
.case .caseList .caseListContents__image.nanairo {
  background: url(../data/caseImage02.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.case .caseList .caseListContents__image.waiwai {
  background: url(../data/caseImage03.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
}
.case .caseList .caseListContents__title {
  margin-top: 32px;
  font-size: 24px;
  font-weight: bold;
  color: #2A3038;
}
.case .caseList .caseListContents__text {
  margin-top: 16px;
  padding: 0 16px;
  line-height: 32px;
}
.case .caseList .caseListContents__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 48px;
  background-color: #79A912;
  color: white;
  text-align: center;
  margin-top: 16px;
  border-radius: 50px;
  box-shadow: 0px 6px #55770C;
}
.case .caseList .caseListContents__button.waiwai {
  background-color: rgb(161, 161, 161);
  box-shadow: none;
}

.contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__text {
  margin: 16px 16px 0px 16px;
}

.contact {
  margin-top: 100px;
}

.footer {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
}
.footer .footerLogo {
  height: 80px;
  width: 400px;
  margin-left: 64px;
  background: url(../data/noukaLogo.svg) no-repeat;
  background-size: contain;
}
.footer .footerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 64px;
}
.footer .footerText__contents {
  margin-top: 8px;
}
.footer .footerGlass {
  position: relative;
}
.footer .footerGlass :nth-child(1) {
  position: relative;
  height: 50px;
  background-color: #88A63B;
}
.footer .footerGlass :nth-child(2) {
  height: 24px;
  background-color: #8C6D49;
}
.footer .footerGlass :nth-child(3) {
  height: 100px;
  background-color: #A27A4B;
}
.footer .footerGlass :nth-child(4) {
  height: 20px;
  background-color: #8E714E;
}
.footer .illust {
  z-index: 30;
  height: 200px;
  width: 100vw;
  margin-top: 100px;
  margin-bottom: -85px;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .illust :nth-child(1) {
  height: 90px;
  width: 100px;
  margin-top: -12px;
  background: url(../data/illust1.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.footer .illust :nth-child(2) {
  height: 80px;
  width: 100px;
  background: url(../data/illust2.png) no-repeat;
  background-size: contain;
}
.footer .illust :nth-child(3) {
  height: 80px;
  width: 100px;
  margin-top: -45px;
  background: url(../data/illust3.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.footer .illust :nth-child(4) {
  height: 80px;
  width: 100px;
  margin-top: -25px;
  background: url(../data/illust4.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.footer .illust :nth-child(5) {
  height: 80px;
  width: 100px;
  margin-top: -45px;
  background: url(../data/illust5.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.footer .illust :nth-child(6) {
  height: 80px;
  width: 100px;
  background: url(../data/illust6.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}/*# sourceMappingURL=style.css.map */